<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hotel Page</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this hotel?</h1>
        <form method="post" th:action="@{/hotel/delete}" id="delete">
            <span>Hotel ID: </span>
            <span th:text="${hotel.id}"></span><br>
            <span>Hotel Name: </span>
            <span th:text="${hotel.name}"></span><br>
            <span>Hotel Address: </span>
            <span th:text="${hotel.address}"></span><br>
            <span>Star Level: </span> 
            <span th:text="${hotel.starLevel}"></span><br>
            <input type="hidden" name="id" th:value="${hotel.id}">
            
        </form>
        <button type="submit" form="delete">Yes</button>
        <a href="/hotel/all"><button>No</button></a>
    </body>
</html>