<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hotel Page</title>
    </head>
    <body>
        <h1>New Hotel</h1>
        <h3 style="color: red;" th:text="${error}"></h3>
        <form method="post" th:action="@{/hotel/add}" th:object="${hotel}" id="add-hotel">
            <span>Hotel ID: </span>
            <span><input type="text" name="id" required th:field="*{id}"></span><br>
            <span>Hotel Name: </span>
            <span><textarea name="name" required th:field="*{name}"></textarea></span><br>
            <span>Hotel Address: </span>
            <span><textarea name="address" required th:field="*{address}"></textarea></span><br>
            <span>Star Level: </span> 
            <span><input type="number" min="0" name="starLevel" required th:field="*{starLevel}"></span><br>
        </form>
        <button type="submit" form="add-hotel">Add hotel</button>
            <a href="/hotel/all"><button>Return</button></a>
    </body>
</html>