<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	 td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
<body>

<h1>Hotels</h1>

<table>
	<tr>
		<th style="width: 60px;">Hotel ID</th>
		<th style="width: 60px;">Name</th>
		<th style="width: 200px;">Address</th>
        <th style="width: 60px;">Star Level</th>
        <th style="width: 60px;">Edit</th>
        <th style="width: 60px;">Delete</th>
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.id}"></td>
		<td th:text="${list.name}"></td>
		<td th:text="${list.address}"></td>
		<td th:text="${list.starLevel+'*'}"></td>
		<td><a th:href="@{'/hotel/update?id='+${list.id}}">Edit</a></td>
		<td><a th:href="@{'/hotel/delete?id='+${list.id}}">Delete</a></td>
	</tr>
</table>
<a th:href="@{/hotel/form}" ><button style="margin-top: 30px;">Add Hotel</button></a>
<a href="/"><button>Return</button></a>
</body>
</html>
