<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hotel Page</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this booking?</h1>
        <form method="post" th:action="@{/booking/delete}" id="delete">
            <span>Hotel: </span>
            <span th:text="${booking.hotel_id}"></span><br>
            <span>Room: </span>
            <span th:text="${booking.room_id}"></span><br>
            <span>Checkin: </span>
            <span th:text="${booking.checkin}"></span><br>
            <span>Checkout: </span>
            <span th:text="${booking.checkout}"></span><br>
            <span>Total: </span> 
            <span th:text="${booking.total}"></span><br>
            <input type="hidden" name="id" th:value="${booking.id}">
            
        </form>
        <button type="submit" form="delete">Yes</button>
        <a href="/booking/all"><button>No</button></a>
    </body>
</html>